<!-- Begin Page Content -->
               <div class="container-fluid">

                   <!-- Page Heading -->
                   <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <form
                         class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                         <div class="input-group">
                           <%= form_with url:  wlogs_index_path, method: :get do |form| %>
                           <%= form.text_field :date1, placeholder:'Select Date', data: {behavior: "flatpickr"} %>
                           <%= form.submit  value:'Search', class:'btn btn-primary fas fa-search fa-sm   ml-1'  %>

                           <%end %>


                         </div>
                     </form>

                   </div>

                   <!-- Content Row -->
                   <div class="row">

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-primary shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class="text-xs  font-weight-bold text-primary text-uppercase mb-1">
                                              Total Requests</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total %></div>
                                       </div>
                                       <div class="col-auto">

                                          <i class="bi bi-file-plus" style="font-size: 2rem; color: cornflowerblue;"></i>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-success shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Null Requests</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total1 %></div>
                                       </div>
                                       <div class="col-auto">
                                          <i class="bi bi-exclamation-circle" style="font-size: 2rem; color: cornflowerblue;"></i>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-info shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">RT >3 (Threshold <%= $RT %>)
                                           </div>
                                           <div class="row no-gutters align-items-center">
                                               <div class="col-auto">
                                                   <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @total2 %>  </div>
                                               </div>

                                           </div>
                                       </div>
                                       <div class="col-auto">
                                          <i class="bi bi-patch-question-fill" style="font-size: 2rem; color: cornflowerblue;"></i>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>



                       <!-- Pending Requests Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-warning shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Average RT</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total3 %></div>
                                       </div>
                                       <div class="col-auto">
                                            <i class="bi bi-calculator-fill " style="font-size: 2rem; color: cornflowerblue;"></i>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>



























  <!-- Content Row -->

                     <div class="row mb-4">

                         <!-- Area Chart -->
                         <div class="col-xl-7 col-lg-7 ">
                             <div class="card shadow mb-4 h-100 border border-primary">
                                 <!-- Card Header - Dropdown -->
                                 <div
                                     class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                     <h6 class="m-0 font-weight-bold text-primary"> Web Response Time </h6>
                                     <div class="dropdown no-arrow">
                                         <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-arrow-down-left-square-fill"></i>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                             <div class="dropdown-header">Dropdown Header:</div>
                                             <a class="dropdown-item" href="#">Action</a>
                                             <a class="dropdown-item" href="#">Another action</a>
                                             <div class="dropdown-divider"></div>
                                             <a class="dropdown-item" href="#">Something else here</a>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Card Body -->
                                 <div class="card-body">

                                          <%= line_chart @RT_average, xtitle: "Time", ytitle: "RT" ,download: true %>
                                 </div>
                             </div>
                         </div>

                         <!-- Pie Chart -->
                         <div class="col-xl-5 col-lg-5 ">
                             <div class="card shadow mb-4 h-100 border border-primary">
                                 <!-- Card Header - Dropdown -->
                                 <div
                                     class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                     <h6 class="m-0 font-weight-bold text-primary">Apdex Score</h6>
                                     <div class="dropdown no-arrow">
                                         <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                             <div class="dropdown-header">Dropdown Header:</div>
                                             <a class="dropdown-item" href="#">Action</a>
                                             <a class="dropdown-item" href="#">Another action</a>
                                             <div class="dropdown-divider"></div>
                                             <a class="dropdown-item" href="#">Something else here</a>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Card Body -->
                                 <div class="card-body ">
                                     <div class="chart-pie pt-4 pb-2">
                                       <%= line_chart @apdex, xtitle: "Time", ytitle: "Apdex" ,download: true %>
                                     </div>

                                 </div>
                             </div>
                         </div>
                     </div>

                     <!-- Content Row -->




















    <!-- Content Row -->


<div class="row mb-4">


    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4 h-100 border border-primary">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Server Throughput </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body ">
                <div class="chart-pie pt-4 pb-2">
                  <%= line_chart @data, xtitle: "Time", ytitle: "No of Request" ,download: true%>
                </div>

            </div>
        </div>
    </div>

    <br>
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4 h-100 border border-primary">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Error Rate </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body ">
                <div class="chart-pie pt-4 pb-2">
                  <%= line_chart @error_rate, xtitle: "Time", ytitle: "No of Request" ,download: true%>
                </div>

            </div>
        </div>
    </div>


  </div>

  <!-- Content Row -->





  <!-- Content Row -->

                     <div class="row">

                         <!-- Area Chart -->
                         <div class="col-xl-7 col-lg-7">
                             <div class="card shadow mb-4 h-100 border border-primary">
                                 <!-- Card Header - Dropdown -->
                                 <div
                                     class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                     <h6 class="m-0 font-weight-bold text-primary"> Web Response Time  >3</h6>
                                     <div class="dropdown no-arrow">
                                         <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-arrow-down-left-square-fill"></i>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                             <div class="dropdown-header">Dropdown Header:</div>
                                             <a class="dropdown-item" href="#">Action</a>
                                             <a class="dropdown-item" href="#">Another action</a>
                                             <div class="dropdown-divider"></div>
                                             <a class="dropdown-item" href="#">Something else here</a>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Card Body -->
                                 <div class="card-body">

                                       <div class="table-responsive">
                                           <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                               <thead>

                                                 <tr>

                                                     <th>URL</th>

                                                     <th>RT</th>
                                                 </tr>
                                                                   </thead>
                                                                   <tbody>
                                                                       <% if @data8 %>
                                                                       <% count= 0%>
                                                                       <% @data8.each do |i| %>
                                                                       <tr>
                                                                       <% count= count+1 %>

                                                                       <td> <%= i.URL1 %></td>

                                                                       <td> <%= i.RT %></td>
                                                                       </tr>

                                                                       <%  end %>


                                                                       <% end %>




                                       </tbody>
                                   </table>

                                     </div>
                                 </div>
                             </div>
                         </div>

                         <!-- Pie Chart -->
                         <div class="col-xl-5 col-lg-5">
                             <div class="card shadow mb-4 h-100 border border-primary">
                                 <!-- Card Header - Dropdown -->
                                 <div
                                     class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                     <h6 class="m-0 font-weight-bold text-primary">Average HTTP Method RT </h6>
                                     <div class="dropdown no-arrow">
                                         <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                         </a>
                                         <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                             <div class="dropdown-header">Dropdown Header:</div>
                                             <a class="dropdown-item" href="#">Action</a>
                                             <a class="dropdown-item" href="#">Another action</a>
                                             <div class="dropdown-divider"></div>
                                             <a class="dropdown-item" href="#">Something else here</a>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Card Body -->
                                 <div class="card-body ">
                                     <div class="chart-pie pt-4 pb-2">
                                         <%= column_chart @data6, xtitle: "Time", ytitle: "No of Request" ,download: true%>
                                     </div>

                                 </div>
                             </div>
                         </div>
                     </div>

                     <!-- Content Row -->












</div>
<!-- /.container-fluid -->
