<!-- Begin Page Content -->
               <div class="container-fluid">

                   <!-- Page Heading -->
                   <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <form
                         class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                         <div class="input-group">
                           <%= form_with url:  wlogs_index_path, method: :get do |form| %>
                           <%= form.text_field :date1, placeholder:'Select Date', data: {behavior: "flatpickr"} %>
                           <%= form.submit  value:'Search', class:'btn btn-primary fas fa-search fa-sm   ml-1'  %>

                           <%end %>


                         </div>
                     </form>

                   </div>

                   <!-- Content Row -->
                   <div class="row">

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-primary shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class="text-xs  font-weight-bold text-primary text-uppercase mb-1">
                                              Total Requests</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total %></div>
                                       </div>
                                       <div class="col-auto">

                                          <i class="bi bi-file-plus" style="font-size: 2rem; color: cornflowerblue;"></i>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-success shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Null Requests</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total1 %></div>
                                       </div>
                                       <div class="col-auto">
                                          <i class="bi bi-exclamation-circle" style="font-size: 2rem; color: cornflowerblue;"></i>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Earnings (Monthly) Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-info shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">RT >3 (Threshold <%= $RT %>)
                                           </div>
                                           <div class="row no-gutters align-items-center">
                                               <div class="col-auto">
                                                   <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @total2 %>  </div>
                                               </div>

                                           </div>
                                       </div>
                                       <div class="col-auto">
                                          <i class="bi bi-patch-question-fill" style="font-size: 2rem; color: cornflowerblue;"></i>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>



                       <!-- Pending Requests Card Example -->
                       <div class="col-xl-3 col-md-6 mb-4">
                           <div class="card border-left-warning shadow h-100 py-2">
                               <div class="card-body">
                                   <div class="row no-gutters align-items-center">
                                       <div class="col mr-2">
                                           <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Average RT</div>
                                           <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total3 %></div>
                                       </div>
                                       <div class="col-auto">
                                            <i class="bi bi-calculator-fill " style="font-size: 2rem; color: cornflowerblue;"></i>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>


























 
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-12">
          <div class="card border border-primary">
            <div class="card-header border border-primary">

              <span style="color:#800080;"> Web Response Time </span>
            </div>
            <div class="card-body border border-primary">
             <%= line_chart @RT_average, xtitle: "Time", ytitle: "RT" ,download: true %>
            </div>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
              <div class="card-header border border-primary">

                <span style="color:#800080;"> Response Time >3</span>
              </div>

              <div class="card-body border border-secondary">

              <div class="table-responsive">
                  <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                      <thead>

                        <tr>

                            <th>URL</th>

                            <th>RT</th>
                        </tr>
                                          </thead>
                                          <tbody>
                                              <% if @data8 %>
                                              <% count= 0%>
                                              <% @data8.each do |i| %>
                                              <tr>
                                              <% count= count+1 %>

                                              <td> <%= i.URL1 %></td>

                                              <td> <%= i.RT %></td>
                                              </tr>

                                              <%  end %>


                                              <% end %>




              </tbody>
          </table>
      </div>
      </div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
          <div class="card border border-primary">
            <div class="card-header border border-primary">

              <span style="color:#800080;"> Apdex Score</span>
            </div>
            <div class="card-body border border-primary">
             <%= line_chart @apdex, xtitle: "Time", ytitle: "Apdex" ,download: true %>
            </div>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
          <div class="card border border-primary">
            <div class="card-header border border-primary">


      <span style="color:#800080;">         Server Throughput </span>
            </div>
            <div class="card-body border border-primary">

    <%= line_chart @data, xtitle: "Time", ytitle: "No of Request" ,download: true%>
            </div>
          </div>
				</div>
			</div>

      <div class="row">
        <div class="col-md-12">
          <div class="card border border-primary">
            <div class="card-header border border-primary">


      <span style="color:#800080;">         Error Rate </span>
            </div>
            <div class="card-body border border-primary">

      <%= line_chart @error_rate, xtitle: "Time", ytitle: "No of Request" ,download: true%>
            </div>
          </div>
        </div>
      </div>


		</div>
	</div>
</div>
<!-- /.container-fluid -->
